* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  section .imagenes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  section .imagenes img {
    max-width: 30%;
  }
  
  section .plan {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  section .plan h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section .plan p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .btn-suscripcion {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-suscripcion:hover {
    background-color: #555;
  }
  
  section form label {
    display: block;
    margin-bottom: 10px;
  }
  
  section form input,
  section form textarea {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn-enviar {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-enviar:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  